<template name="formulaireGenere">
    <section id="corpsForm">


     {{setTitle 'Formulaire'}}
    <form id="formRegister" method="post" role="form">

    {{#each Form}}


        <h1 id="titreGenere" class="text-center"><span class="label label-default">{{titre}}</span></h1>

        {{#each controls}}

            {{#each control}}


                {{#if isInputText typeControl}}

                    <div class='text-center form-group ctrlsApercu '>
                        <label for='' class='labelApercu control-label'>{{label}}</label>
                        <input id="inputText{{numero}}" name="inputText{{numero}}"  class='form-control'  type='text'   placeholder='Entrez votre texte ici.' required/>
                    </div>

                {{/if}}

                {{#if isTextArea typeControl}}

                    <div class='text-center form-group ctrlsApercu '>
                        <label for='' class='labelApercu control-label'>{{label}}</label>
                        <textarea id="textArea{{numero}}" name="textArea{{numero}}" rows='10'  class='form-control'   placeholder='Entrez votre texte ici.' required></textarea>
                    </div>

                {{/if}}

                {{#if isInputDate typeControl}}

                    <div class='text-center form-group ctrlsApercu '>
                        <label for='' class='labelApercu control-label'>{{label}}</label>
                        <input id='date{{numero}}' name='date{{numero}}' class='form-control'  type='date'   required />
                    </div>

                {{/if}}

                {{#if isInputChoixBinaire typeControl}}

                    <div class='text-center form-group ctrlsApercu '>
                        <label for='' class='labelApercu control-label'>{{label}}</label>
                        <div class="form-control">
                        <div><label for='' class='radioGen radio-inline'><input id='radio{{numero}}' name='radio{{numero}}' type='radio' class=' ' placeholder='' value="oui" required >Oui</label>
                        <label for='' class='radioGen radio-inline'><input id='radio{{numero}}' name='radio{{numero}}' type='radio' class=' ' placeholder=''  value="non">Non</label></div>
                    </div></div>

                {{/if}}

                {{#if isInputRadios typeControl}}

                    <div class='text-center form-group ctrlsApercu '>
                        <label for='' class='control-label'>{{label}}</label><br>
                        <div class="form-control">
                        {{#each reponse in reponses}}
                        <div class='radio-inline'><label for=''><input  name='radio{{numero}}' type='radio'  required>{{reponse.libelle}}</label></div>
                        {{/each}}

                    </div>
                    </div>

                {{/if}}

                {{#if isInputCheckboxs typeControl}}

                    <div class='text-center form-group ctrlsApercu required'>
                        <label for='' class='labelApercu control-label'>{{label}}</label>
                        <div class="form-control">
                        {{#each reponse in reponses}}
                      <div class='checkbox-inline '><label for=''><input id='checkboxname{{numero}}-{{reponse.num}}'  type='checkbox' class=' ' placeholder='' >{{reponse.libelle}}</label></div>
                        {{/each}}
                        </div>
                        <div class="errorCkBox errorCkBox{{numero}}">Vous devez au moins choisir une réponse</div>
                    </div>

                {{/if}}

                {{#if isInputUpload typeControl}}

                    <div class='text-center form-group ctrlsApercu '>
                        <label for='' class='labelApercu control-label'>{{label}}</label>
                       <div> <button class='btn btn-info upload_button'><span class='glyphicon glyphicon-upload'></span> Envoyer un fichier </button></div>
                    </div>

                {{/if}}

            {{/each}}


        {{/each}}


    {{/each}}



        <br><br>

        <div class="form-group text-center formBoutons" >
            <input id="EnvoyerFormGenere" value="Envoyer" type="submit" class="btn btn-success " >
            <input  value="Effacer" type="reset"  class="btn btn-danger ">
        </div>


    </form>
    </section>


    <h1 id="retour" class="text-center">  Merci pour votre retour </h1>
    <h1 id="inconnu" class="text-center"> Désolé, nous ne vous connaissons pas. </h1>

</template>