<template name="gestionFichiersEnvoyes">
            {{#each getFichiers}}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="/uploads/{{userId}}/{{file}}" target="_BLANK">{{ newFile file}}</a></div>

                        <div class="panel-footer clearfix">
                            Fichier {{displayExtension file}}
                            <span class="pull-right">
                                <a href="/uploads/{{userId}}/{{file}}" download="{{file}}" target="_parent" class=" btn btn-xs btn-success">
                                    <span class="allFilesDownload glyphicon glyphicon-download"></span>
                                </a>
                                <button class="btn btn-xs btn-danger delete_doc">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}
        <hr>
</template>