<template name="reponses">
    {{setTitle 'Réponses des formulaires'}}


    <h1 class="text-center">Visualisation des réponses d'un formulaire</h1>

    <br><br>
    <div class="row ">
        <div class="text-center col-md-8 col col-md-offset-2">
            <select name="" id="selectLeForm" class="form-control">
            <option value="0">Sélectionnez un formulaire</option>
        {{#each Reponses }}

          <option value="{{_id}}"> {{titre}} </option>

        {{/each}}

        </select></div>
    </div>
    <hr>
    <div id="divFichiers" class=" divFichiers" >
        <div>
        <h2  id="spanFichiers"><span class='double badge white'>{{nombreFichiers}}</span> Fichiers Envoyés  </h2>
        <button id="btDownload" class="btn btn-primary btn-file">Tout télécharger</button>
        </div>
        {{> gestionFichiersEnvoyes }}
    </div>




    <div class='divFichiers text-center'>
        <!--<select id='selectFichier' class='form-control'></select>-->

    </div>

    <div id="divReponses" class="" >
    <h2 id="tableauReponses"  ><span class='double badge white'>{{nombre}}</span> Réponses</h2>
    </div>




</template>