<template name="reponses">
    {{setTitle 'Réponses des formulaires'}}


    <h1 class="text-center">Visualisation des réponses d'un formulaire</h1>

    <br><br>
    <div class="row ">
        <div class="text-center col-md-8 col">
            <select name="" id="selectLeForm" class="form-control">
            <option >Sélectionnez un formulaire</option>
        {{#each Reponses }}

          <option value="{{_id}}"> {{titre}} </option>

        {{/each}}

        </select></div>
    </div>
    <hr id="tableauReponses">




</template>