<template name="reponses">
    {{setTitle 'Réponses des formulaires'}}


    <h1 class="text-center">Visualisation des réponses d'un formulaire</h1>

    <br><br>
    <div class="row ">
        <div class="text-center col-md-8 col col-md-offset-2">
            <select name="" id="selectLeForm" class="form-control">
            <option value="0">Sélectionnez un formulaire</option>
        {{#each Reponses }}

          <option value="{{_id}}"> {{titre}} </option>

        {{/each}}

        </select></div>
    </div>


    <hr>
    <div class="text-center" >
<span id="tableauReponses" class='label label-primary double ' >Réponses<span class='badge white'>{{nombre}}</span></span>

</div>


</template>