<template name="newCategorie">
    {{setTitle 'Nouvelle categorie'}}
    <h1 class="text-center">Nouvelle catégorie</h1>
    {{#autoForm collection="categorie" collection="categories" id="actionCategorie" type="insert"}}
        {{> afQuickField name="nom"}}
        <div class="form-group{{#if afFieldIsInvalid name='couleur'}} has-error{{/if}}">
            <label for="colorpicker1">Couleur</label>
            <div id="colorpicker1" class="input-group colorpicker-component">
                {{> afFieldInput name="couleur"}}
                <span class="input-group-addon"><i></i></span>
            </div>
            {{#if afFieldIsInvalid name='couleur'}}
                <span class="help-block">{{afFieldMessage name='couleur'}}</span>
            {{/if}}
        </div>
        {{> afQuickField name="description"}}
        <button type="submit" class="btn btn-primary">Valider</button>
    {{/autoForm}}
</template>

<template name="updateCategorie">
    {{setTitle 'Modifier la categorie'}}
    <h1 class="text-center" >Modifier la catégorie</h1>
    {{#autoForm collection="categorie" doc=this collection="categories" id="actionCategorie" type="update"}}
        {{> afQuickField name="nom"}}
        <div class="form-group{{#if afFieldIsInvalid name='couleur'}} has-error{{/if}}">
            <label for="colorpicker1">Couleur</label>
            <div id="colorpicker1" class="input-group colorpicker-component">
                {{> afFieldInput name="couleur"}}
                <span class="input-group-addon"><i></i></span>
            </div>
            {{#if afFieldIsInvalid name='couleur'}}
                <span class="help-block">{{afFieldMessage name='couleur'}}</span>
            {{/if}}
        </div>
        {{> afQuickField name="description"}}
        <button type="submit" class="btn btn-primary">Valider</button>
    {{/autoForm}}
</template>