<template name="categoriesHome">
    {{setTitle 'Mes categories'}}
    <h1 class="text-center">Mes catégories</h1>
    <ul class="list-group">
        {{#each List}}
           <li class="list-group-item clearfix">
               <span class="glyphicon glyphicon-stop" style="color:{{couleur}};"></span>
               {{nom}}
               <small> - {{description}}</small>
               <span class="pull-right">
                   <button class="btn btn-xs btn-warning modif_categorie">
                       <span class="glyphicon glyphicon-pencil"></span>
                   </button>
                    <button class="btn btn-xs btn-danger delete_categorie">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
               </span>
           </li>
        {{/each}}
        <li class="list-group-item disabled"></li>
        <li class="list-group-item"><a class="btn btn-primary" href="{{pathFor route='newCategorie'}}">Nouvelle catégorie</a></li>
    </ul>
    <button class="btn btn-xs btn-info upload_button">
        UPLOAD
    </button>
</template>
