.repFormGen,#retour,#inconnu,.formBoutons,.divFichiers
{
    display: none;
}
#btDownload
{
    margin-bottom: 25px;
}

#cadreApercuForm{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
#titreapercuForm,#titreGenere{
    font-weight: bold;
    margin-bottom: 60px;
}
/*
.radioGen{
    margin-right: 10px;
}*/

.labelApercu{
    margin-right: 15px;
}
.ctrlsApercu{
    margin-bottom: 25px;
}
.double{
    font-size:1.5em;

}
#tableauReponses,#spanFichiers{
    margin-bottom: 25px;
    display: inline-block;
    padding: 12px;
}
#selectFichier{
    margin-bottom: 25px;
}
.white{
    background: white;
    color:black;
    margin: 5px;
}
.marge50{
    margin-left:150px;
    margin-bottom: 8px;
}
.errorCkBox
{
    display:none;
    color:red;
}