.repFormGen,#retour
{
    display: none;
}

#cadreApercuForm{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
#apercuForm,#titreGenere{
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 60px;
}
/*
.radioGen{
    margin-right: 10px;
}*/

.labelApercu{
    margin-right: 15px;
}
.ctrlsApercu{
    margin-bottom: 25px;
}
