/* CSS declarations go here */


/*******************    page de gestion des mailings-list    ***********************************/

.mailAper{


    padding: 4px;
    border-radius: 4px;
}

#titreMailingList
{
    /*background-color: white;*/
    border-radius: 5px;
    font-size: 2em;
     padding: 20px;
     width: 100%;

}
/*
.mailingListDiv{
    min-height: 300px;
    border:2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    width:80%;
    margin-left: 10%;
    float: left;
    background-color: white;
}*/
.cursor{
    cursor: pointer;
}
#tableApercu{
    width:100%;
}
#tableApercu tr td:first-child,tr th:first-child{
    width: 330px;

}
#tableApercu tr th:first-child{
    height: 100px;
}
#tableApercu tr td:nth-child(2){
    width: 150px;
}
#tableApercu tr td{
    font-size: 1.1em;
    margin: 10px;
    text-align: center;
    padding: 5px;
}

.val,.mod,.supList,.buttonMod{
    display:none;

}
.supList span{
    padding: 5px;
}
.modMail{
    display:none;

}
#NomapercuML
{
    border-radius: 8px;
    font-size: 1.2em;
    font-weight:bold;
    margin: 20px;
    padding: 4px;

}
.pencil{
    position: relative ;
    right:10px;
}
/*
#formMailing{
    margin-left: 10%;
    width: 40%;
    text-align: left;
}*/
legend{
    padding: 8px;
}
.dispoMailingList{
    width: 500px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius:8px;
    padding-bottom: 30px;
    background-color: #ddd;
}
.dispoMailingList2{
    margin:auto;
    width: 600px;
    float: left;
    margin-right: 200px;
    border: 2px solid white;
    border-radius:8px;
    padding-bottom: 30px;
    text-align: center;
}
#selectListe{
    padding: 10px;
    font-size: 1.2em;
}
.inputTextMailingLists
{
    width:300px;
    margin: 10px;
    height:30px!important;
}


.val span, .mod span{
   padding-left: 5px;
}

#buttonEnrMailingList,#buttonModMailingList{
    margin-top: 50px;
    display:none;
}
#formMailing{
    text-align: left;
}
.mailError
{
    /*border: 1px solid red;*/
    padding: 5px;
    height:30px;
    color:red;
}
