<template name="mailingList">
    {{setTitle 'Mailing lists'}}
    <h1 class="text-center">Mailing lists</h1>

    <hr>

    <div class="row">
        <select id="selectListe" class="form-control col-md-12">
            <option value="">Ajouter une liste de mails</option>
            {{#each getMailingList}}
                <option value={{_id}}>{{nom}}</option>
            {{/each}}
        </select>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Création d'une mailing list </div>
                <div class="panel-body">
                    <form id="formNameMailing" method="post" role="form">
                        <div class="form-group">
                            <input id="inputNomML" type="text" placeholder="Nom de la mailing list" class="form-control"
                                   data-error="Le nom est requis!" data-unique_name="unique_name"
                                   data-unique_name-error="Le nom existe déjà!" required />
                            <div class="help-block with-errors text-danger"></div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class='btn btn-default' value="Modifier le titre"/>
                        </div>
                    </form>
                    <form id="formEmailMailing" method="post" role="form">
                        <div class="form-group">
                            <input id="inputTextMail" type="email" placeholder="Nouveau mail" class="form-control"
                                   data-error="L'adresse mail est invalide!" data-unique_email="unique_email"
                                   data-unique_email-error="L'adresse mail existe déjà!" required />
                            <div class="help-block with-errors text-danger"></div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class='btn btn-default' value="Ajouter Mail"/>
                            <div class="btn btn-primary btn-file pull-right">
                                Importer mail <input type="file" id="importMail" class="jqUploadclass" accept=".csv">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{#if Mails.nom}}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Aperçu de la mailing list</div>
                <div class="panel-body">
                    <div class="text-center">
                        <h3>
                        {{Mails.nom}}
                        {{#if Mails._id}}
                        <button id="{{Mails._id}}" class='deleteMailing btn btn-default'>Supprimer</button>
                        {{/if}}
                        </h3>
                    </div>
                    <hr>
                    <div id="apercuMail">
                        {{#each Mails.emails}}
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control modifyMail" type="email" value="{{this}}">
                                    <span class="input-group-btn">
                                        <button id="{{this}}" class="btn btn-danger deleteMail">Supprimer</button>
                                    </span>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <hr>
                    <div>
                        {{#if Mails.nom}}
                            {{#if Mails.emails}}
                                <button class='saveMailing btn btn-default pull-right'>Enregistrer</button>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

    </div>

</template>