<template name="mailingList">

    <h1 id="titreMailingList" class="  ">Mailing lists</h1>

      <div id="listeMailingList" class="dispoMailingList2">

          <legend>
              Liste des mailing list
          </legend>

          <fieldset>
              <div id="liste">

                  <select  id="selectListe">
                        <option>Ajouter une liste de mails</option>
                      {{#each Mails}}
                      <option>{{name}}</option>
                      {{/each}}
                  </select>
              </div>

          </fieldset>

      </div>


    <div id="formMailing" class="dispoMailingList" method="POST" action="">
        <legend>
        Création d'une mailing list 
        </legend>
        <fieldset>
            <input id="inputNomML" type="text" placeholder="Nom de la mailing list" class="inputTextMailingLists"><button id="btValiderNomML" class='buttonMailingList'>Changer titre</button><br>
            <input id="inputTextMail" type="email" placeholder="Nouveau mail" class="inputTextMailingLists"><button id="btAjouterMailML" class='buttonMailingList'>Ajouter Mail</button><br>
            <div id="mailError" class="text-center"></div>
        </fieldset>
    </div>

    <div id="apercuMailingList" class="dispoMailingList">
         <legend>
        Aperçu de la mailing list 
        </legend>
        <fieldset>
            <table id="tableApercu">
            <tr><th id="thtableApercu" ><div id="NomapercuML" class="text-center"></div></th><th></th></tr>
            <td><button id="buttonEnrMailingList" class='buttonMailingList'>Enregistrer</button></td><td></td></table>
        </fieldset>
    </div>

</template>