<template name="emailTemplate">
    {{{contenu}}}

    {{#if lien}}
        <p>Pour accéder au contenu, <a href="{{lien}}" target="_blank">Cliquez ici</a></p>
    {{/if}}

    <br>

    <p style="font-weight: bold;">Ceci est un message automatique, merci de ne pas y répondre.</p>
</template>

<template name="emailPartageTemplate">
    Bonjour,<br>
    <br>
    {{expediteur}} à partager la tâche <span style="font-style: italic">{{tache.titre}}</span> avec vous.<br>
    Vous pouvez dès maintenant accéder à cette tâche dans le deuxième tableau de l'onglet tâche.<br>
    <br>
    <p style="font-weight: bold;">Ceci est un message automatique, merci de ne pas y répondre.</p>
</template>