<template name="header">
    <nav class="navbar navbar-static-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor route='home'}}">
                    <img alt="Brand" src="/image/logo.png">
                </a>
            </div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse ">
                {{#if currentUser}}
                    <ul class="nav navbar-nav">
                        <li class="{{active '/tache' }}"><a href="{{pathFor route='tacheHome'}}"><span class="glyphicon glyphicon-plus"></span> Tâches</a></li>
                        <li class="{{active '/category'}}"><a href="{{pathFor route='categoriesHome'}}"><span class="glyphicon glyphicon-tag"></span> Catégories</a></li>
                        <li class="{{active '/mailinglist'}}"><a href="{{pathFor route='mailingList'}}"><span class="glyphicon glyphicon-th-list"></span> Mailing lists</a></li>
                        <li class="{{active '/formulaires'}}"><a href="{{pathFor route='formulaireCree'}}"><span class="glyphicon glyphicon-pencil"></span> Formulaires</a></li>
                        <li class="{{active '/reponses'}}"><a href="{{pathFor route='reponses'}}"><span class="glyphicon glyphicon-check"></span> Réponses</a></li>
                        <li class="{{active '/documents'}}"><a href="{{pathFor route='gestionDocuments'}}"><span class="glyphicon glyphicon-folder-open"></span> Mes documents</a></li>
                    </ul>
                {{/if}}
                <div class="navbar-form navbar-right" role="search">
                    {{#if currentUser}}
                        <a class="btn btn-default logout">Se déconnecter</a>
                    {{else}}
                        {{> login}}
                    {{/if}}

                </div>
            </div>
        </div>
    </nav>
</template>