<template name="newTacheDocument">
    {{setTitle 'Tâches document'}}
    <h1 class="text-center" >Tâches document</h1>

    <hr>{{#autoForm collection="taches" type="insert" id="tache"}}
        {{> afQuickField id="typeTache" name="typeTache"}}
        {{> afQuickField name="titre"}}
        <div class="row">
            <div class="col-sm-12">
                {{> afQuickField name="contenu"}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                {{> afQuickField class="select_document" name="document" options=getUploadOption firstOption="Document"}}
            </div>
            <div class="col-sm-4">
                <img id="previewDocument" class="img-responsive img-thumbnail" src="http://fakeimg.pl/350x200/?text=futur%20image" alt="">
            </div>
        </div>
        {{> afQuickField name="mailingList" options=getMailingListOption firstOption="Mailing list"}}
        {{> afQuickField name="emails"}}

        <button type="submit" class="btn btn-primary">Valider</button>
    {{/autoForm}}

</template>