<template name="newTacheMail">
    {{setTitle 'Tâches mailing list'}}
    <h1 class="text-center" >Tâches Mail</h1>

    <hr>

    {{#autoForm collection="taches" type="insert" id="tache"}}
        <div class="row">
            <div class="col-sm-6">
                {{> afQuickField name="titre"}}
            </div>
            <div class="col-sm-6">
                {{> afQuickField name="tacheParent" options=getTacheParentOption firstOption="tache Parent" }}
            </div>
        </div>
        {{> afQuickField id="insertTag" name="tags" data-role="tagsinput"}}
        {{> afQuickField name="emails"}}
        <div class="row">
            <div class="col-sm-6">
                {{> afQuickField name="mailingList" options=getMailingListOption}}
            </div>
            <div class="col-sm-5">
                {{> afQuickField class="select_categorie" name="categorie" options=getCategorieOption firstOption="Catégorie"}}
            </div>
            <div class="col-sm-1">
                <label>Couleur</label>
                <div id="selectedColor"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group{{#if afFieldIsInvalid name='dateFin'}} has-error{{/if}}">
                    <label class="control-label">Date programmée</label>
                    <input id="dateEnable" type="checkbox" checked="checked"> Mail programmé
                    <div class="input-group datetimepicker">
                        {{> afFieldInput class="dateFin" name="dateFin"}}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                    {{#if afFieldIsInvalid name='dateFin'}}
                        <span class="help-block">{{afFieldMessage name='dateFin'}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> afQuickField name="contenu"}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    {{/autoForm}}
</template>

<template name="updateTacheMail">
    {{setTitle 'Tâches mailing list'}}
    <h1 class="text-center" >Tâches Mail</h1>

    <hr>

    {{#autoForm collection="taches" doc=this type="update" id="tache"}}
        {{> afQuickField id="typeTache" name="typeTache"}}
        {{> afQuickField name="titre"}}
        {{> afQuickField id="insertTag" name="tags" data-role="tagsinput"}}
        {{> afQuickField name="emails"}}
        <div class="row">
            <div class="col-sm-6">
                {{> afQuickField name="mailingList" options=getMailingListOption placeholder="mailing list"}}
            </div>
            <div class="col-sm-5">
                {{> afQuickField class="select_categorie" name="categorie" options=getCategorieOption firstOption="Catégorie"}}
            </div>
            <div class="col-sm-1">
                <label>Couleur</label>
                <div id="selectedColor"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group{{#if afFieldIsInvalid name='dateFin'}} has-error{{/if}}">
                    <label class="control-label">Date programmée</label>
                    <input id="dateEnable" type="checkbox" checked="checked"> Mail programmé
                    <div class="input-group datetimepicker">
                        {{> afFieldInput class="dateFin" name="dateFin"}}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                    {{#if afFieldIsInvalid name='dateFin'}}
                        <span class="help-block">{{afFieldMessage name='dateFin'}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="col-sm-6">
                {{> afQuickField name="tacheParent" options=getTacheParentOption firstOption="tache Parent" }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> afQuickField name="contenu"}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    {{/autoForm}}
</template>