<template name="tacheHome">
    {{setTitle 'Accueil Des Tâches'}}
    <h1 class="text-center" >Accueil des tâches</h1>

    <hr>

    <div class="row text-center">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Tâche parent</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheParent'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Mail</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheMail'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Note</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheNote'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Document</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheDocument'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Formulaire</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheFormulaire'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    {{#if getTache}}
        <h2 class="text-center">Vos tâches</h2>
    {{> reactiveTable class="table table-hover table-bordered text-center" collection=getTache settings=optionsReactiveTable}}
    {{else}}
        <h2 class="text-center text-bold">Aucune tâche</h2>
    {{/if}}

    <hr>

    {{#if getTacheShare}}
        <h2 class="text-center">Tâches partagées</h2>
        {{> reactiveTable class="table table-hover table-bordered text-center" collection=getTacheShare settings=optionsReactiveTable}}
    {{else}}
        <h2 class="text-center text-bold">Aucune tâche partagée</h2>
    {{/if}}

    <hr>

</template>

<template name="titreTableTache">
    {{titre}}
    {{#if userShare}}
        <span aria-label="cette tâche est partagé avec des collaborateurs" class="hint--top label label-success">Partagé</span>
    {{/if}}
</template>

<template name="actionTableTache">
    {{#if tacheEnCours _id}}
        {{#if mailExist _id}}
        <button data-toggle="tooltip" title="Envoyer le mail" class="btn btn-xs btn-success mail_tache">
            <span class="glyphicon glyphicon-send"></span>
        </button>
        {{/if}}
        <a aria-label="Editer la tâche" class="btn btn-xs btn-warning hint--top edit_tache" href="tache/{{typeTache}}/edit/{{_id}}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    {{/if}}
    <button aria-label="Voir informations" class="btn btn-xs btn-info hint--top info_tache">
        <span class="glyphicon glyphicon-info-sign"></span>
    </button>
    {{#if fini}}
        <button aria-label="Désarchiver la tâche" class="btn btn-xs btn-primary hint--top desarchive_tache">
            <span class="glyphicon glyphicon glyphicon-upload"></span>
        </button>
    {{else}}
        <button aria-label="Archiver la tâche" class="btn btn-xs btn-primary hint--top archive_tache">
            <span class="glyphicon glyphicon glyphicon-download"></span>
        </button>
        {{#if ownTache _id}}
        <button aria-label="Partager la tâche" class="btn btn-xs btn-success hint--top partage_tache">
            <span class="glyphicon glyphicon glyphicon-share-alt"></span>
        </button>
        {{/if}}
    {{/if}}

</template>
