<template name="tacheNote">
    {{setTitle 'Tâches note'}}
    <h1 class="text-center" >Note personnelle</h1>

    <hr>

    {{#autoForm collection="taches" type="insert" id="addTache"}}
        {{> afQuickField id="typeTache" name="typeTache"}}
        {{> afQuickField name="titre"}}
        {{> afQuickField id="insertTag" name="tag" data-role="tagsinput"}}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group{{#if afFieldIsInvalid name='dateFin'}} has-error{{/if}}">
                    <label class="control-label">Date du rappel</label>
                    <div class="input-group datetimepicker">
                        {{> afFieldInput name="dateFin"}}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                    {{#if afFieldIsInvalid name='dateFin'}}
                        <span class="help-block">{{afFieldMessage name='dateFin'}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="col-sm-5">
                {{> afQuickField class="select_categorie" name="categorie" options=getCategorieOption firstOption="Catégorie"}}
            </div>
            <div class="col-sm-1">
                <label>Couleur</label>
                <div id="selectedColor"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> afQuickField name="contenu"}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    {{/autoForm}}
</template>