<template name="tacheHome">
    {{setTitle 'Accueil Des Tâches'}}
    <h1 class="text-center" >Accueil des tâches</h1>

    <hr>

    <div class="row text-center">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Tâche parent</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheParent'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Mail</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheMail'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Note</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheNote'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Document</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheDocument'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Formulaire</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='newTacheFormulaire'}}" class="btn btn-success">Créer</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h2 class="text-center">Vos tâches</h2>
    {{> reactiveTable class="table table-hover table-bordered text-center" collection=getTache settings=optionsReactiveTable}}

    <hr>

    <h2 class="text-center">Tâches partagées</h2>
    {{> reactiveTable class="table table-hover table-bordered text-center" collection=getTache settings=optionsReactiveTable}}

</template>

<template name="actionTableTache">
    {{#if tacheEnCours _id}}
        {{#if mailExist _id}}
        <button data-toggle="tooltip" title="Envoyer le mail" class="btn btn-xs btn-success mail_tache">
            <span class="glyphicon glyphicon-send"></span>
        </button>
        {{/if}}
        <a data-toggle="tooltip" title="Editer la tâche" class="btn btn-xs btn-warning edit_tache" href="tache/{{typeTache}}/edit/{{_id}}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    {{/if}}
    <button data-toggle="tooltip" title="Voir informations" class="btn btn-xs btn-info info_tache">
        <span class="glyphicon glyphicon-info-sign"></span>
    </button>
    {{# if fini}}
        <button data-toggle="tooltip" title="Désarchiver la tâche" class="btn btn-xs btn-primary desarchive_tache">
            <span class="glyphicon glyphicon glyphicon-upload"></span>
        </button>
    {{else}}
        <button data-toggle="tooltip" title="Archiver la tâche" class="btn btn-xs btn-primary archive_tache">
            <span class="glyphicon glyphicon glyphicon-download"></span>
        </button>
    {{/if}}

</template>

<template name="modalInfoTache">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title">
                        {{titre}}
                        {{#if fini}}
                            - Tache finalisée
                        {{/if}}
                    </h4>
                </div>

                <div class="modal-body">
                    <ul>
                        <li><b>Type : </b>{{typeTache}}</li>
                        {{#if tacheParent}}
                            <li>
                                <b>Tâche parent : </b>
                                {{tacheParent.titre}}
                            </li>
                        {{/if}}
                        {{#if categorie}}
                            <li>
                                <b>Catégorie : </b>
                                {{categorie}}
                            </li>
                        {{/if}}
                        {{#if emails}}
                            <li>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <b>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    {{emails.length}} Destinataires (cliquez pour afficher la liste complète)
                                                </a>
                                            </b>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <ul>
                                            {{#each emails}}
                                                <li>{{this}}</li>
                                            {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/if}}
                        {{#if contenu}}
                            <li>
                                <b>Contenu : </b>
                                <div class="well">{{{contenu}}}</div>
                            </li>
                        {{/if}}
                        {{#if document}}
                            <li>
                                <b>Image : </b>
                                <img class="img-responsive img-thumbnail" src="/uploads/{{document.userId}}/{{document.file}}" alt="{{document.file}}" onError="this.onerror=null;this.src='http://fakeimg.pl/350x200/?text=aucun%20aper%C3%A7u';">
                            </li>
                        {{/if}}
                        {{#if dateCreation}}
                            <li>
                                <b>Date de création : </b>
                                {{dateCreation}}
                            </li>
                        {{/if}}
                         {{#if dateFin}}
                            <li><b>Date de fin/rappel : </b>{{dateFin}}</li>
                         {{/if}}
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger delete_tache" data-dismiss="modal">
                        <span class="glyphicon-class glyphicon trash"></span>
                        Supprimer
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>

            </div>
        </div>
    </div>
</template>