<template name="newTacheDocument">
    {{setTitle 'Tâches document'}}
    <h1 class="text-center" >Tâches document</h1>

    <hr>
    {{#autoForm collection="taches" type="insert" id="tache"}}
        <div class="row">
            <div class="col-sm-6">
                {{> afQuickField name="titre"}}
            </div>
            <div class="col-sm-6">
                {{> afQuickField name="tacheParent" options=getTacheParentOption firstOption="tache Parent" }}
            </div>
        </div>
        {{> afQuickField id="insertTag" name="tags" data-role="tagsinput"}}
        <div class="row">
            <div class="col-sm-8">
                {{> afQuickField class="select_document" name="document" options=getUploadOption firstOption="Document"}}
            </div>
            <div class="col-sm-4">
                <img id="previewDocument" class="img-thumbnail img-responsive" src="http://fakeimg.pl/350x200/?text=futur%20image">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{> afQuickField name="mailingList" options=getMailingListOption firstOption="Mailing list"}}
            </div>
            <div class="col-sm-6">
                {{> afQuickField class="select_categorie" name="categorie" options=getCategorieOption firstOption="Catégorie"}}
            </div>
        </div>
        {{> afQuickField name="emails"}}
        <div class="row">
            <div class="col-sm-12">
                {{> afQuickField name="contenu"}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
    {{/autoForm}}

</template>

<template name="updateTacheDocument">
    {{setTitle 'Tâches document'}}
    <h1 class="text-center" >Tâches document</h1>

    <hr>{{#autoForm collection="taches" doc=this type="update" id="tache"}}
    {{> afQuickField id="typeTache" name="typeTache"}}
    {{> afQuickField name="titre"}}
    {{> afQuickField id="insertTag" name="tags" data-role="tagsinput"}}
    <div class="row">
        <div class="col-sm-8">
            {{> afQuickField class="select_document" name="document" options=getUploadOption firstOption="Document"}}
        </div>
        <div class="col-sm-4">
            <img id="previewDocument" class="img-thumbnail img-responsive" src="http://fakeimg.pl/350x200/?text=futur%20image">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{> afQuickField name="mailingList" options=getMailingListOption firstOption="Mailing list"}}
        </div>
        <div class="col-sm-6">
            {{> afQuickField class="select_categorie" name="categorie" options=getCategorieOption firstOption="Catégorie"}}
        </div>
    </div>
    {{> afQuickField name="emails"}}
    <div class="row">
        <div class="col-sm-12">
            {{> afQuickField name="contenu"}}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Valider</button>
{{/autoForm}}

</template>