<template name="tacheHome">
    {{setTitle 'Accueil Des Tâches'}}
    <h1 class="text-center" >Accueil des tâches</h1>

    <hr>

    <div class="row text-center">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Mail</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='tacheMail'}}" class="btn btn-success">Accéder</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Note</h3>
                </div>
                <div class="panel-body">
                    <a href="{{pathFor route='tacheNote'}}" class="btn btn-success">Accéder</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel primary</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel primary</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-hover table-bordered text-center">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Catégorie</th>
                    <th>Date de création</th>
                    <th>Date de fin</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {{#each taches}}
                <tr>
                    <td>{{titre}}</td>
                    <td>{{typeTache}}</td>
                    <td>{{categorie}}</td>
                    <td>{{createdAt}}</td>
                    <td>{{dateFin}}</td>
                    <td>
                        <button class="btn btn-xs btn-info info_tache">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <button class="btn btn-xs btn-warning delete_tache">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</template>

<template name="modalInfoTache">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title">{{titre}}</h4>
                </div>

                <div class="modal-body">
                    <ul>
                        <li><b>Type : </b>{{typeTache}}</li>
                        <li><b>Catégorie : </b>{{categorie}}</li>
                        <li><b>Contenu : </b>
                            <div class="well">{{{contenu}}}</div>
                        </li>
                        <li><b>Date de création : </b>{{createdAt}}</li>
                        <li><b>Date de fin : </b>{{dateFin}}</li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>