<template name="forgotPassword">

    {{setTitle 'Mot de passe oublié ?'}}
    <div class="row">
        <div class="col-md-6 col-md-push-3 form-group">
            <form action="/forgot" id="forgotPasswordForm" method="post" role="form">
                <label for="forgotPasswordEmail" class="control-label">Veuillez saisir votre adresse mail</label>
                <input id="forgotPasswordEmail" class="form-control" type="email" name="email" placeholder="Adresse mail">
                <input class="btn btn-success pull-right" type="submit">
            </form>
        </div>
    </div>

</template>

<template name="resetPassword">

    {{setTitle 'Nouveau mot de passe'}}
    {{#if resetPassword}}
    <div class="row">
        <div class="col-md-6 col-md-push-3 form-group">
        <form action="/reset-password"  id="resetPasswordForm" method="post" role="form">
            <input id="resetPasswordPassword" class="form-control" name="password" placeholder="Nouveau mot de passe" type="password" >
            <input id="resetPasswordPasswordConfirm" class="form-control" name="password-confirm" placeholder="Confirmer le nouveau mot de passe" type="password" >
            <input class="btn btn-success pull-right" type="submit">
        </form>
        </div>
    </div>
    {{else}}
        <h3 class="text-center">Lien invalide!</h3>
    {{/if}}

</template>