<template name="gestionDocuments">
    <h1>Gestion des documents <button class="btn-upload btn btn-warning pull-right btn-upload"><i class="glyphicon glyphicon-upload"></i> Uploader un fichier</button></h1>

            {{#each getUpload}}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{file}}</div>
                        <div class="panel-body">
                            <img class="img-thumbnail img-responsive" src="/uploads/{{userId}}/{{file}}" onError="this.onerror=null;this.src='/image/file.png';">
                        </div>
                        <div class="panel-footer clearfix">
                            Fichier {{displayExtension file}}
                            <span class="pull-right">
                                <a href="/uploads/{{userId}}/{{file}}" download="{{file}}" target="_parent" class="btn btn-xs btn-success">
                                    <span class="glyphicon glyphicon-download"></span>
                                </a>
                                <button class="btn btn-xs btn-danger delete_doc">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            {{/each}}
</template>