<template name="gantt">
    {{setTitle "Gantt"}}
    <div class="row">
        <h1>Votre calendrier</h1>
    </div>
    <span class="divider"></span>
    <div class="row form-group">
        <div class="col-md-3">
            <button class="btn btn-success form-control" id="showArchive">Afficher les tâches archivées</button>
        </div>
        <div class="col-md-3">
            <select class="form-control" id="selectCategorie">
                <option>Catégorie</option>
                {{#each getCategorie}}
                    <option>
                        {{nom}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Nom de la tâche" id="searchText"/>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success form-control" id="export">Exporter</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-success form-control" id="rst">Reset</button>
        </div>
    </div>
    <span class="divider"></span>
    {{initTasks}}

    <div class="row">
        <div id="princ" style='width: 100%; height: 500px;'></div>
    </div>
</template>